.main-container{
	top: 30px;
}
.center{
	position: relative;
	margin: 0 auto;
}

.primary-box{
	max-width: 500px;
	padding: 5px;
	border: 1px solid #218838;
	text-align: center;
}

.tasks-box{
	text-align: left;
}

.error{
	color: red;
}

.remove{
	cursor: pointer;
	z-index: 999999;
	margin-top: -20px;
}
.form-check{
	width: 80%;
}
.form-check-label{
	color: #218838;
}
.done{
	text-decoration: line-through;
}